@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$default-font-family: 'Montserrat', sans-serif;

//COLORS
$color-white:#f7f7f7;
$color-black:#212121;
$color-black-light:#272727;
