@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$default-font-family: 'Montserrat', sans-serif;

//COLORS
$color-white:#f7f7f7;
$color-black:#212121;
$color-black-light:#272727;

$color-facebook:#1877f2;
$color-twitter:#1da1f2;
$color-instagram:#eb2738;
$color-linkedin: #0a66c2;
$color-github: #333;
