.image-slider{

height:100%;

}

.image-container{
  background: linear-gradient(to bottom,#0000009c,#0000009d) ,url("./images/hero2.jpg");
  background-position: center;
  background-size:cover;
  height:87vh;

}

