@import '../../sass/mixins';
@import '../../sass/variables';


.header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 4px;
    background: rgba(0,0,0,0.1);
  }


  background-image: linear-gradient(to right,rgba(#000,.8),rgba(#222,.9)) !important;
  height:19vh;
}