@import '../../sass/mixins';
@import '../../sass/variables';

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include responsive(tablet-land) {
    // display:none;
  }

  &__menu {
    padding-right: 5rem;

    flex: 0 0 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover .navbar__link {
      opacity: 0.6;
    }

    &:hover .navbar__link:hover {
      opacity: 1;
    }

    @include responsive(tablet-land) {
      display: none;
    }
  }

  &__items {
    list-style: none;
  }

  &__link {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1.5px solid transparent;
    padding-bottom: 1rem;
    transition: all 300ms cubic-bezier(1, 0.01, 0.08, 0.32);
    // padding:0.5rem 1rem 0.5rem 1rem;
    display: inline-block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2.2px;
      bottom: 0;
      left: 0;
      background-color: rgb(250, 250, 250);
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
