@import './sass/mixins';
@import './sass/animations';

.wrapper{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:0 !important;



}

.App{
  //height:100%;
  overflow: hidden;
  //overflow-x: hidden !important;
  &__container{
    position: relative;
    padding: 11rem 0 0 0;
    @include responsive(tablet-land){
      padding: 9rem 0 0 0;
    }
    &--open{
      @include responsive(tablet-land){
        -webkit-animation: mobileMenuOpen 1s ease forwards;
        -moz-animation: mobileMenuOpen 1s ease forwards;
        -o-animation: mobileMenuOpen 1s ease forwards;
        animation: mobileMenuOpen 1s ease forwards;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
      }
    
    }
  }

}